.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-color);
}

.nav__logo--end {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* nav */
.header__content {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  margin-left: 93px;
  color: var(--first-color);
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--first-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list__link,
.contacts-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list__item {
  position: relative;
}

.nav-list__link.current::after {
  content: "";
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: -31px;
  left: 0;
}

.current {
  color: var(--accent-color);
}

.nav-list__link:hover,
.nav-list__link:focus,
.nav-list__link:active {
  color: var(--accent-color);
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list__link {
  color: var(--second-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover,
.contacts-list__link:focus,
.contacts-list__link:active {
  color: var(--accent-color);
}

.contacts-list__icon--mail {
  fill: var(--second-color);
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link:hover .contacts-list__icon--mail,
.contacts-list__link:focus .contacts-list__icon--mail {
  fill: var(--accent-color);
}

.contacts-list__link:hover .contacts-list__icon--tel,
.contacts-list__link:focus .contacts-list__icon--tel {
  fill: var(--accent-color);
}

.contacts-list__icon--tel {
  fill: var(--second-color);
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list .contacts-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  background-color: var(--fourth-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  height: 600px;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-background-color);
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
}

.hero__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--third-background-color);
  background-color: var(--accent-color);
  cursor: pointer;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--feauters h2 {
  display: none;
}

.feauters-list {
  display: flex;
}

.feauters-list__item:not(:last-child) {
  margin-right: 30px;
}

.feauters-list__item {
  min-width: 270px;
}

.feauters-list__item::before {
  content: "";
  height: 120px;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  background-color: var(--second-background-color);
  margin-bottom: 30px;
}

.feauters-list__item--antena::before {
  background-image: url(../images/antena.svg);
}

.feauters-list__item--clock::before {
  background-image: url(../images/clock.svg);
}

.feauters-list__item--diagram::before {
  background-image: url(../images/diagram.svg);
}

.feauters-list__item--astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.feauters-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 10px;
}

.feauters-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}/*# sourceMappingURL=main.css.map */