.section-about {
  padding-top: 0;
}

.section-about__title {
  color: var(--first-color);
  margin-bottom: 50px;
  margin-right: auto;
  margin-left: auto;
}

.about-list {
  display: flex;
}

.about-list__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.about-list__img {
  display: block;
}

.about-list__text {
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-background-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.section-about__title,
.section-team__title,
.section-clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
