.backdrop {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 300ms, visibility 300ms;
}

.modal {
  position: absolute;
  background-color: var(--third-background-color);
  width: 528px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.button-close {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: var(--third-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
