.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-color);
}

.nav__logo--end {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header__content {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  margin-left: 93px;
  color: var(--first-color);
}

.nav-list__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--first-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
  }
}

.nav-list__link,
.contacts-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list__link.current::after {
  content: '';
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  bottom: -31px;
  left: 0;
}

.current {
  color: var(--accent-color);
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list__item:not(:last-child) {
  margin-right: 50px;
}

.contacts-list__link {
  color: var(--second-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus,
  &:active {
    color: var(--accent-color);
  }
  &:hover .contacts-list__icon--mail,
  &:focus .contacts-list__icon--mail {
    fill: var(--accent-color);
  }

  &:hover .contacts-list__icon--tel,
  &:focus .contacts-list__icon--tel {
    fill: var(--accent-color);
  }
}

.contacts-list__icon--mail {
  fill: var(--second-color);
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__icon--tel {
  fill: var(--second-color);
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
}
