.portfolio h1 {
  display: none;
}

.filters {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  .filters-item:not(:last-child) {
    margin-right: 8px;
  }
}

.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--second-background-color);
  color: var(--first-color);
  cursor: pointer;
  box-shadow: none;
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--third-background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio-card {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-color);
  margin-bottom: 4px;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  .portfolio-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .portfolio-item:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.portfolio-item {
  background-color: var(--third-background-color);
  &:hover .portfolio-overlay-text {
    transform: translateY(0);
  }
}

.portfolio-link {
  display: block;
  box-shadow: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay-text {
  position: absolute;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms;
}
