:root {
  --first-color: #212121;
  --second-color: #757575;

  --first-background-color: #e5e5e5;
  --second-background-color: #f5f4fa;
  --third-background-color: #ffffff;
  --fourth-background-color: #2f303a;
  --accent-color: #2196f3;
  --second-accent: rgba(255, 255, 255, 0.6);
}
